<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
    <setting id="quality" type="bool" label="HD quality when available" default="true"/>
    <setting id="bitrate" type="select" label="NBA.com video bitrate" values="640x360_664m|768x432_996|768x432_1404|960x540_2104|1280x720_3072" default="1280x720_3072"/>
    <setting id="downloads_folder" type="folder" label="Download folder" default="special://userdata/addon_data/plugin.video.nbafullgames/Downloads"/>
    </category>

    <category label="Playback">
    <setting id="auto-play" type="bool" label="Auto-play" default="true"/>
    </category>
</settings>